body
{
    margin:0;
    padding:0;
}
section
{
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-color: #cccccc;
    background-size: auto;
    background-blend-mode: screen;
}
section .boxa
{
    height: 190px;
    width: 50%;
    background-color: white;
}
section .boxa .contenta img
{
    width: 150px;
    border-radius: 75px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
section .boxa .contenta h1
{
    margin:0;
    padding:0;
    position: relative;
    top:10px;
    font-size:40px;
}
section .boxa .contenta h3
{
    position: relative;
    top:-10px;

}
section .boxb
{
    position:absolute;
    top: 0px;
    left: 50%;
    height: 190px;
    width: 50%;
    background-color: #FAEBD7;
}
section .boxb .contentb
{
    position: relative;
    left: -20px;
    top: -20px;
    float: right;
    font-family: 'Goblin One', cursive;
}
section .boxb .contentb h1
{
    font-size:40px;
}
section.boxb.contentb p
{
    font-size:20px;
}
section .boxc
{
    position: absolute;
    top:190px;
    width:100%;
    height:20px;
    background-color: coral;
    text-align: center
}
section .boxc .contentc
{
    position: relative;
    top: -16px;
}
section .boxd
