/*
body{
    font-family: 'Lato', sans-serif;
  }
  *{
    margin:0;
    padding:0
  }
  .card12{
    width:1000px;
    height:auto;
    background:rgb(248, 248, 248);
    padding:70px;
    box-sizing:border-box;
    text-align:center;
    border-radius:20px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    overflow:hidden;
  }
  .card12 img{
    width:100px;
    height:100px;
    display:block;
    margin:auto;
    border-radius:40%;
    background: url(profile.jpg);
  }
  .card12 div h1{
    text-transform:uppercase;
    margin-top:20px;
    margin-bottom:20px;
    line-height:24px
  }
  .card12 div h1 span{
    font-size:14px;
    color:#e62e2e
  }
  .card12 div ul{
    list-style:none;
  }
  .card12 div ul li{
    display:inline-block;
    margin:20px 10px
  }
  .card12 div ul li a{
    color:#2980b9;
    font-size:20px;
    transition:0.2s;
  }
  .card12 div ul li a:hover{
    color:#000
  }
  .card12 div a.btn{
    text-decoration:none;
    color:#000;
    letter-spacing:5px;
    font-weight:bold;
    border:1px solid #000;
    font-weight:bold;
    padding:10px;
    border-radius:2px;
    margin-top:15px;
    display:inline-block;
    transition:0.2s;
  }
  .card12 div a.btn:hover{
    border-color:#f39c12
  }
  .card12:before{
    position:absolute;
    content:'';
    width:100px;
    height:100px;
    background:orange;
    bottom:0;
    right:0;
    z-index:-1;
    border-top-left-radius:100px;
    transition:0.5s;
  }
  .card12:hover:before{
    transform:scale(20)
  }
*/
.card-body {
    float: right;
}
* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}
