html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #BDC3C7;
font-family: 'Raleway';
}
.top {
  background-color: #264356;
  height: 200px;
  margin:0;
  padding:0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.form {
  height: 590px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.info {
  padding: 10px;
}

h1, h2, p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;
}

input:focus {
  outline: 0;
}

.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 20px auto 0px auto;
  float:left;
}

button.accept {
  border-radius: 0px 0px 0px 10px;
  border-right: solid 1px #cc919a;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

button:hover {
  background-color: #cc919a;
  transition: .5s;
}

button:focus {
  outline: 0;
}