<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Event portal of Liberty University.">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendors/css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendors/css/grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendors/css/ionicons.min.css') }}">
        <!--
        <link rel="stylesheet" type="text/styles" href="../static/styles/resources/styles/style.styles">
        <link rel="stylesheet" type="text/styles" href="../static/styles/resources/styles/queries.styles">
        !-->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static' , filename = 'styles/resources/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static' , filename = 'styles/resources/css/queries.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>LibertyEdPortal</title>


    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="static\styles\resources\img\Pngitem_833749.png" alt="Liberty logo" class="logo">

                    <ul class="main-nav js--main-nav">
                        <li><a href="#features">About</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#feedback">Feedback</a></li>
                        <li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
                    </ul>
                    <!--
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                    !-->

                </div>
            </nav>
            <div class="hero-text-box">
                <h1>Find your space,<br>Live Events & more.</h1>
                <a class="btn btn-full js--scroll-to-plans"  href="{{ url_for('events.create_event') }}">Create An Event</a>
                <a class="btn btn-ghost js--scroll-to-start" href="#">My Account</a>
            </div>

        </header>


        <!--UPCOMING EVENTS-->

        <section class="section-events" id="events">
            <div class="row">
                <h2>Upcoming Events</h2>
            </div>
            <div class="row js--wp-3">
                {% for event in events.items %}

                <div class="col span-1-of-4 box">
                    <img src="{{ url_for('static',filename='styles/resources/img/event1.jpg') }}" alt="speech">
                    <h3>{{ event.title }}</h3>
                    <div class="event-feature">
                    <i class="fas fa-calendar-alt"></i>
                        {{ event.date }}
                    </div>
                    <div class="event-feature">
                         <i class="fas fa-map-marker-alt"></i>
                        {{ event.location }}
                    </div>
                    <div class="event-feature">
                        <i class="fas fa-ticket-alt"></i>
                        <a href="{{ url_for('events.event_viewer',events_id=event.id) }}">Get Tickets Now</a>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            {% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if events.page == page_num %}
              <div class="row12">
                <a  href="#"   class="push-button">{{ page_num }}</a>
            </div>
            {% else %}
           <div class="row12">
                <a   href="{{ url_for('core.home',page=page_num) }}" class="push-button">{{ page_num}}</a>
                </div>
            {% endif %}
            {% endfor %}
        
        </section>


          <!--TESTIMONIALS-->

        <section class="section-testimonials" id="feedback">
            <div class="row">
                <h2>Student Feedback</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                         I had the opportunity to take an English course at the school for a month. Teachers, staff and extracurricular activities are great. I recommend  to everyone who wants to have a wonderful experience in Dublin.
                        <cite><img src="../static/styles/resources/img/customer-1.jpg" alt="Customer 1 photo">Alberto Duncan</cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                        Loved it.crew is very friendly and helping. It’s like a big family. The lessons are very good and the atmosphere between students, too. If i had to choose again, I would choose them.
                        <cite><img src="../static/styles/resources/img/customer-2.jpg" alt="Customer 2 photo">Joana Silva</cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                        Some of the best events that i ever enjoyed.
                    <cite><img src="../static/styles/resources/img/customer-3.jpg" alt="Customer 3 photo">Milton Chapman</cite>
                    </blockquote>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">iOS App</a></li>                                 
                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>
                    Copyright &copy; 2021 by LibertyUniversityEdPortal. All rights reserved.
                </p>
            </div>
        </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="../static/css/resources/js/script.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61026110-2', 'auto');
      ga('send', 'pageview');

    </script>

    </body>

</html>