<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles/resources/css/landing_page.css">
    <title>Liberty University || Landing Page</title>
</head>
<body>
<div class="hero">
    <div class="content">
    <a class="btn" href="{{ url_for('users.login') }}">Login</a>
    <br>
    <a class="btn" href="{{ url_for('users.register') }}">Register</a>
</div>
</div>

</body>
</html>

