<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

        <link rel="stylesheet" type="text/css" href="static/styles/vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/styles/vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="static/styles/resources/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <title>Liberty University || Log In </title>
    </head>
    <body>
        <section class="section-form">
            <div class="row">
                <h2>Log In</h2>
            </div>
            <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    {% if message != "Logged In Sucessfully !!" %}
                <li>{{ message }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form method="post" action="#" class="contact-form">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="useremail">Username</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="username" name="username" id="email" placeholder="username" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="userpassword">Password</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="submit" value="Submit!!">
                        </div>
                    </div>
                </form>

            </div>
        </section>





    </body>

</html>