<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Liberty University || My Account</title>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="{{ url_for('core.home') }}" class="navbar-brand">Liberty University</a>
</nav>


<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Username : {{ current_user.username }}</h1>
          <p class="lead">ID : STUDENT</p>
        </div>
</div>

    <div class="jumbotron">
        <h1>Events Created !!</h1>
    </div>

    {% for event in events.items %}

   <div class="card  text-black bg-warning mb-3">
    <h5 class="card-header">Events Created </h5>
    <div class="card-body">
      <h5 class="card-title">Event Name : {{ event.title }}</h5>
      <p class="card-text">Date : {{ event.date }}</p>
      <a href="{{ url_for('events.view_event',event_id=event.id) }}" class="btn btn-primary">Go to Event Page</a>
    </div>
  </div>
{% endfor %}

<div class="jumbotron">
    <h1>Events Registered</h1>
</div>
{% for i in events_registered %}
   <div class="card text-white bg-danger mb-3">
    <h5 class="card-header">Events Registered </h5>
    <div class="card-body">
      <h5 class="card-title">Event Name : {{ i.title }}</h5>
      <p class="card-text">Date : {{ i.date }}</p>
      <a href="{{ url_for('events.view_event',event_id=i.id) }}" class="btn btn-primary">Go to Event Page</a>
    </div>
  </div>
{% endfor %}
</body>
</html>