<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <meta name="keywords" content="html,css">
    <link rel="stylesheet" type="text/css" href="../static/styles/resources/css/event_normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/resources/css/event_grid.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <title>LibertyEdPortal | Events | {{ event.title }}</title>
    <link rel="stylesheet" href="../static/styles/resources/css/speech.css">
        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>

               <!--Title and Navigation bar-->

    <Header style="background-image : url('{{ url_for('static',filename='event_banner/'+event.banner) }}')")>
        <nav>
            <a href="{{ url_for('core.home') }}"><img src="../static/styles/resources/img/liberty_logo.png" alt="A logo" class="liberty-logo"></a>
            <ul class="nav-class">
                {% if event.organiser == current_user %}
                <li><a class="btn btn-danger" href="{{ url_for('events.delete_event',event_id=event.id) }}">Delete Post</a></li>
                {% endif %}
                <li><a class="btn btn-info" href="#">Students Registered : {{ number_of_participants }}</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
    </Header>
        <div class="detail-class">
            <h2>{{ event.title }}</h2>
            <h4>Date: {{ event.date }} </h4>
            <h4>Location: {{ event.location }}</h4>
            <h4>Conducted By : {{ event.organiser.username }}</h4>
            <p> {{ event.description }}</p>
        </div>
                     <!--Event Outcomes-->
                     <section class="section-form">
                        <div class="my-row">
                        </div>
                        <div class="content">
                            <form method="post" action="#" class="contact-form">
                                <!--
                                 <div class="row">
                                    <div class="col span-1-of-3">
                                        <label for="eventtitle">Name</label>
                                    </div>
                                    <div class="col span-2-of-3">
                                        <input type="text" name="name" id="name" placeholder="Your name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col span-1-of-3">
                                        <label for="eventdate">Mail id</label>
                                    </div>
                                    <div class="col span-2-of-3">
                                        <input type="email" name="email" id="email" placeholder="Mail id" required>
                                    </div>
                                !-->
                                {% if number_of_participants >= event.participants %}
                                    <h1>You can't register , participant limit is reached</h1>
                                {% elif today >= event.date %}
                                    <h1>This event is already finished !!</h1>
                                {% else %}
                                <input type="submit" class="rsvp-btn" href="#" value="GET RSVP">
                                {% endif %}
                            </form>
                        </div>
                         <section>
                                  <div class="users-registered">
                                      {% if today >= event.date %}
                                      <h1 align="center">These People Attended This Event</h1>
                                      {% else %}
                                      <h1 align="center">These People Are Coming For This Event</h1>
                                      {% endif %}
        <table class="table table-warning table-striped">
    <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>

    </tr>
  </thead>
  <tbody>
  {% for student in event.coming %}
    <tr>
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.username }}</td>
      <td>{{ student.email }}</td>
    </tr>
    {% endfor %}
   </table>
    </div>
     </section>


</body>
</html>